body {
	font-family: Lucida Sans Unicode;
	color: #28324e;
  padding-left: 50px;
}
a:link, a:visited {
	color: #3D8EB9;
}
a:hover {
	color: #f37934;
}
h1 {
	color: #3D8EB9;
}
#button {
	position: relative;
	float: left;
	padding-top: 20px;
	width: 200px;
}
#status {
	color: #41A85F;
	width: 200px;
	padding-top: 25px;
	float: left;
}
#error {
	color: #B8312F;
	padding-top: 25px;
	float: left;
	height: 20px;
}
#save {
	background-color: #475577;
	color: white;
	border: 0px;
	font-size: 20px;
	width: 160px;
}
#save:hover {
	background-color: #f37934;
}
